.app {
  background-color: #000;
  display: grid;
  height:100%;
  place-items: center;
}

.containers {
  padding:0px;
  height:100%;
  overflow:scroll;
 width: 337px;
  color:white;

}
.swiper { height: 100vh;
  overflow:scroll!important;

}
.swiper-container {
  height: 300px;
}
.swiper-slide{
  height:100vh!important;
}
.containers::-webkit-scrollbar {
  display: none;
}

.containers {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
