.video {
    width: 100%;
    height: 90vh   ;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    scroll-snap-align: start;
  scroll-snap-stop:always;

}


.player {
  position: absolute;
  height:90vh ;
  top: 0;
  left: 0;
  object-fit: cover ;
  width: 100%;
}

.bottom-controls {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
